<!-- Dropdown  -->
<div
  class="w-full min-w-fit mx-auto hover:shadow-md transition-shadow duration-300 ease-in-out rounded-md"
  tabindex="0"
  (keydown.enter)="isOpen = !isOpen"
  role="button"
>
  <!-- Dropdown Header -->
  <div
    class="flex justify-between items-center gap-3 px-6 py-3 cursor-pointer bg-accent hover:bg-secondary transition-colors duration-300 ease-in-out"
    [ngClass]="{
      'rounded-md': !isOpen,
      'rounded-t-md rounded-b-none': isOpen
    }"
    (click)="isOpen = !isOpen"
  >
    <p class="text-lg font-bold">{{ title }}</p>
    <fa-icon
      [icon]="faChevronDown"
      [ngClass]="{ 'rotate-180': isOpen, 'transition-transform': true }"
    ></fa-icon>
  </div>

  <!-- Dropdown Body -->
  <div
    *ngIf="isOpen"
    class="px-6 py-3 bg-background border rounded-b-md transition-all duration-300 ease-in-out"
  >
    {{ body }}
  </div>
</div>
