<div class="bg-primary text-white flex flex-col items-center py-20 px-3">
  <div class="text-left space-y-4">
    <p>
      Are you looking for a cruise ship? Take a look at our
      <a class="underline font-bold text-secondary" href="catalog"
        >cruise catalogue</a
      >.
    </p>

    <p>
      Check the most frequently asked questions in our
      <a class="underline font-bold text-secondary" href="faq">FAQ</a>.
    </p>

    <p>
      What is Catalogue of Ships?
      <a class="underline font-bold text-secondary" href="home"
        >Know us better</a
      >.
    </p>
  </div>

  <p class="pt-20 text-xs">© 2025 CATALOGUE OF SHIPS</p>
</div>
