<header class="bg-primary shadow-md">
  <div class="container mx-auto flex justify-between items-center py-3 px-6">
    <!-- Logo -->
    <a href="#" class="flex items-center">
      <img
        src="./image/logobarcos.png"
        alt="Logo"
        class="h-16 w-13 object-cover"
      />
    </a>

    <!-- Navegación -->
    <nav>
      <ul class="flex space-x-8">
        <li (click)="navigateTo('home')">
          <a class="text-white hover:text-blue-400 cursor-pointer">Home</a>
        </li>
        <li>
          <a class="text-white hover:text-blue-400 cursor-pointer">Route</a>
        </li>
        <li (click)="navigateTo('catalog')">
          <a class="text-white hover:text-blue-400 cursor-pointer">Ship</a>
        </li>
        <li (click)="navigateTo('faq')">
          <a class="text-white hover:text-blue-400 cursor-pointer">FAQ</a>
        </li>
      </ul>
    </nav>

    <!-- Usuario y Logout -->
    <div class="flex items-center space-x-4">
      @if (isAuthenticated) {
      <common-button (action)="(null)" [icon]="faUser"></common-button>
      } @else {
      <common-button
        [text]="'login'"
        (action)="navigateTo('login')"
        [icon]="faSignIn"
      ></common-button>
      } @if (isAuthenticated) {
      <common-button
        [text]="'log-out'"
        (action)="userLogout()"
        [icon]="faSignOut"
      ></common-button>
      }
    </div>
  </div>
</header>
