<header
  class="bg-primary shadow-md sticky top-0 z-50 flex flex-row items-center justify-between px-3 py-3 shadow-xl border-b border-secondary md:px-9"
>
  <!-- Navigation -->
  <nav class="flex flex-row gap-6 items-center">
    <!-- Logo -->
    <a
      (click)="navigateTo('home')"
      class="flex items-center hidden md:inline-block"
    >
      <img
        src="./image/logobarcos.png"
        alt="Logo"
        class="h-16 w-13 object-cover"
      />
    </a>
    <!-- Navigation Links -->
    <a
      (click)="navigateTo('home')"
      [ngClass]="{
        'underline text-secondary': currentRoute === 'home',
        'text-white hover:text-secondary': currentRoute !== 'home'
      }"
      class="cursor-pointer"
      >Home</a
    >
    <a
      (click)="navigateTo('catalog')"
      [ngClass]="{
        'underline text-secondary': currentRoute === 'catalog',
        'text-white hover:text-secondary': currentRoute !== 'catalog'
      }"
      class="cursor-pointer"
      >Catalogue</a
    >
    <a
      (click)="navigateTo('faq')"
      [ngClass]="{
        'underline text-secondary': currentRoute === 'faq',
        'text-white hover:text-secondary': currentRoute !== 'faq'
      }"
      class="cursor-pointer"
      >FAQ</a
    >
  </nav>

  <!-- User/Login Section -->
  <div class="flex flex-row gap-4 items-center">
    <common-button
      [text]="isAuthenticated ? 'profile' : 'login'"
      [icon]="isAuthenticated ? faUser : faSignIn"
      (action)="isAuthenticated ? navigateTo('settings') : navigateTo('login')"
    ></common-button>

    <common-button
      *ngIf="isAuthenticated"
      [text]="'log-out'"
      [icon]="faSignOut"
      (action)="userLogout()"
      class="md:block hidden"
    ></common-button>
    <common-button
      *ngIf="isAuthenticated"
      [icon]="faSignOut"
      (action)="userLogout()"
      class="md:hidden"
    ></common-button>
  </div>
</header>
