<body class="bg-[#E1E1E1] h-screen">
    <div>
        <app-search (searchChanged)="onSearchChanged($event)"></app-search>
    </div>
    <div class="grid grid-cols-4 gap-4 p-4">
      @for (item of filteredImages; track $index) {
        <div class="bg-gray-400 p-4 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-lg">
          <img 
            [src]="item.imagen[0]" 
            [alt]="item.nombre" 
            class="w-full h-32 object-cover rounded-lg"
            (click)="selectCard(item)"
          />
          <span class="text-xl text-black flex justify-center mt-2">{{ item.nombre }}</span>
          <div class="flex justify-center mt-2">
            <app-star [starId]="'star-' + $index"></app-star>
          </div>
        </div>
      }
      </div>
    
</body>



