<div
  class="bg-white rounded-md shadow-md hover:shadow-lg transition transform hover:scale-105 overflow-hidden cursor-pointer w-full relative text-text_gray"
  (click)="onClick()"
  tabindex="0"
  (keydown.enter)="onClick()"
  role="button"
>
  <img
    [src]="vessel.imagePath?.[0]"
    [alt]="vessel.name"
    class="w-full h-40 object-cover"
  />
  <div class="p-4 text-black">
    <div class="flex flex-row justify-between items-start gap-2">
      <h3 class="text-lg font-bold truncate max-w-[70%]">{{ vessel.name }}</h3>
      <div (click)="$event.stopPropagation()" class="flex-shrink-0">
        <app-star [vesselId]="vessel.id"></app-star>
      </div>
    </div>

    <p class="text-sm">{{ vessel.cruiseline }}</p>
    <div class="mt-2 text-xs text-text_gray flex flex-col flex-nowrap gap-2">
      <div class="flex flex-row flex-nowrap gap-3 items-center">
        <fa-icon class="w-3 flex justi fy-center" [icon]="faUser"></fa-icon>
        <p class="text-nowrap">
          Crew {{ vessel.crew }} · Passengers {{ vessel.passengerCap }}
        </p>
      </div>
      <div class="flex flex-row gap-3 flex-nowrap items-center">
        <fa-icon class="w-3 flex justify-center" [icon]="faFile"></fa-icon>
        <p class="text-nowrap">
          Speed {{ vessel.speed }} knots · Year {{ vessel.year }}
        </p>
      </div>
    </div>
  </div>
</div>
