<div class="bg-primaryBg min-h-screen flex items-center justify-center">
  <div class="w-full max-w-sm m-6 p-8 bg-white rounded-2xl">
    <!-- Toggle Buttons -->
    <div class="grid grid-cols-2 mb-8 text-sm">
      <button
        class="w-full py-2 text-sm rounded-l-full bg-primaryBg text-white cursor-not-allowed focus:outline-none"
        disabled
      >
        Login
      </button>
      <button
        class="w-full py-2 text-sm rounded-r-full bg-secondaryBg hover:bg-primaryBg hover:text-white transition duration-300 focus:outline-none"
        (click)="navigateToRegister()"
      >
        Register
      </button>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()" class="flex flex-col gap-4">
      <!-- Email Input -->
      <div>
        <label for="email" class="text-xs">Email</label>
        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Enter your email"
          class="w-full py-2 text-sm border-b-2 border-slate-400 focus:border-primaryBg focus:outline-none focus:ring-0 transition duration-300"
        />
      </div>

      <!-- Password Input -->
      <div>
        <label for="password" class="text-xs">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="Enter your password"
          class="w-full py-2 text-sm border-b-2 border-slate-400 focus:border-primaryBg focus:outline-none focus:ring-0 transition duration-300"
        />
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-center text-sm text-red-500">
        {{ errorMessage }}
      </div>

      <!-- Submit and Cancel Buttons -->
      <div class="flex mt-8 gap-4">
        <button
          type="submit"
          class="w-full py-2 text-sm bg-secondaryBg rounded-full hover:bg-primaryBg hover:text-white transition duration-300 focus:outline-none"
        >
          Sign-In
        </button>
        <button
          (click)="navigateToHome()"
          type="button"
          class="w-full py-2 text-sm bg-cancelBg rounded-full hover:bg-primaryBg text-white transition duration-300 focus:outline-none"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
