<app-header></app-header>

<div class="bg-background flex flex-col">
  <!-- First Entry -->
  <div class="px-3 py-12 2xl:px-96 flex flex-col items-left justify-center">
    <h1 class="text-3xl font-bold">Welcome to the Cruise Catalogue!</h1>
    <p class="mb-6">
      Step into the world of cruise ships! Our carefully curated catalog is
      designed to give you exclusive insights into some of the most incredible
      vessels on the seas. Whether you're an experienced traveler or just
      starting your cruising journey, we're here to share our passion and help
      you find your next unforgettable adventure.
    </p>
    <img class="w-full" src="./image/exploreimg.jpg" alt="Explore Ships" />
  </div>

  <!-- Second Entry -->
  <div class="px-3 py-24 2xl:px-96 bg-primary text-white flex flex-col gap-6">
    <div class="flex-col md:flex-row flex justify-between gap-6">
      <div>
        <h1 class="text-3xl font-bold">Discover Our Cruise Collection!</h1>
        <p>
          Uncover some of the most luxurious and exciting cruise ships around
          the globe with our exclusive catalog.
        </p>
      </div>
      <common-button
        [text]="'Start Exploring'"
        (click)="navigateTo('/catalog')"
      ></common-button>
    </div>

    <div class="grid grid-cols-1 2xl:grid-cols-3 gap-6">
      <!-- Iterate over vessels -->
      <vessel-card-component
        *ngFor="let item of vessels; let index = index"
        [vessel]="item"
        (click)="selectVessel(item)"
      ></vessel-card-component>
    </div>
  </div>

  <!-- Third Entry -->
  <div class="px-3 py-24 2xl:px-96 gap-6 flex flex-col">
    <h1 class="text-3xl font-bold">Get to Know Us Better!</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Catalog Box -->
      <div
        class="bg-primary text-black px-12 py-6 space-y-2 flex flex-col justify-start rounded-md text-white"
      >
        <h1 class="text-3xl font-bold">Your Ultimate Guide to Cruise Ships</h1>
        <p class="text-sm">
          Our team is deeply passionate about cruise ships, and we've collected
          detailed information to share with you. Dive into our curated catalog
          to explore the most remarkable vessels and gain a deeper understanding
          of the world of cruising.
        </p>
        <a href="#" class="underline font-bold text-secondary"
          >Explore Our Cruise Catalog</a
        >
      </div>

      <!-- About Us Box -->
      <div
        class="bg-primary text-black px-12 py-6 space-y-2 flex flex-col justify-start rounded-md text-white"
      >
        <h1 class="text-3xl font-bold">Who We Are</h1>
        <p class="text-sm">
          We’re a dedicated team of cruise ship enthusiasts with a mission: to
          provide you with valuable insights and a comprehensive catalog to
          guide you in your cruising adventures. Join us as we explore the
          finest vessels at sea!
        </p>
      </div>

      <!-- FAQ Box -->
      <div
        class="bg-primary text-black px-12 py-6 space-y-2 flex flex-col justify-start rounded-md text-white"
      >
        <h1 class="text-3xl font-bold">Frequently Asked Questions</h1>
        <p class="text-sm">
          Ever wondered how cruise ship maintenance affects fuel efficiency? Or
          how to care for the vessel of your dreams? Check out our FAQs for
          useful tips and answers to all your cruising queries.
        </p>
        <a href="/faq" class="underline font-bold text-secondary"
          >Browse Our FAQs</a
        >
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
