<header class="bg-[#B6C3D6] bg-opacity-74 shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <!-- Logo -->
        <a href="#" class="flex items-center">
            <img src="assets/image/logobarcos.png" alt="Logo"class="h-12 w-auto object-cover">
        </a>
  
      <!-- Navegación -->
      <nav>
        <ul class="flex space-x-12">
          <li (click)="cargarPagina('home')">
            <a class="text-gray-700 hover:text-blue-500 cursor-pointer">Home</a>
          </li>
          <li>
            <a class="text-gray-700 hover:text-blue-500 cursor-pointer">Route</a>
          </li>
          <li (click)="cargarPagina('catalog')">
            <a class="text-gray-700 hover:text-blue-500 cursor-pointer">Ship</a>
          </li>
          <li>
            <a class="text-gray-700 hover:text-blue-500 cursor-pointer">FAQ</a>
          </li>
          <li>
            <a class="text-gray-700 hover:text-blue-500 cursor-pointer">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  