<app-header></app-header>

<div class="bg-background px-3 py-12 2xl:px-96 flex flex-col gap-6">
  <div
    class="flex flex-row sm:flex-row justify-between items-center pb-6 border-b gap-3"
  >
    <search-component (searchChanged)="updateSearch($event)"></search-component>

    <div class="relative">
      <div
        class="flex items-center hover:shadow-lg rounded-full transition-shadow duration-200"
      >
        <button
          (click)="toggleDropdown()"
          [ngClass]="
            showDropdown
              ? 'flex items-center gap-2 pl-6 pr-3 py-3 bg-secondary text-primary rounded-tl-3xl rounded-b-none hover:bg-primary hover:text-secondary focus:outline-none whitespace-nowrap'
              : 'flex items-center gap-2 pl-6 pr-3 py-3 bg-secondary text-primary rounded-l-full hover:bg-primary hover:text-secondary focus:outline-none whitespace-nowrap'
          "
        >
          <span>Sort:</span>
          <span class="font-semibold">{{ currentSort }}</span>
        </button>

        <button
          (click)="toggleSortDirection()"
          [ngClass]="
            showDropdown
              ? 'pr-6 pl-3 py-3 bg-secondary text-primary rounded-tr-3xl rounded-b-none hover:bg-primary hover:text-secondary focus:outline-none'
              : 'pr-6 pl-3 py-3 bg-secondary text-primary rounded-r-full hover:bg-primary hover:text-secondary focus:outline-none'
          "
        >
          <fa-icon
            [icon]="sortDirection === 'asc' ? faSortAmountUp : faSortAmountDown"
          ></fa-icon>
        </button>
      </div>

      <div
        *ngIf="showDropdown"
        class="absolute mt-0 w-full bg-secondary rounded-t-none rounded-b-3xl shadow z-10 left-0 hover:shadow-lg"
      >
        <ul>
          <li
            *ngFor="let option of sortOptions; let last = last"
            (click)="changeSort(option)"
            [ngClass]="{
              'px-4 py-2 hover:bg-primary hover:text-secondary cursor-pointer capitalize': true,
              'rounded-b-3xl': last
            }"
          >
            {{ option }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-20">
    @for (item of filteredVessels; track $index) {
    <vessel-card-component
      [vessel]="item"
      (click)="selectVessel(item)"
    ></vessel-card-component>
    }
  </div>
</div>

<app-footer></app-footer>
