<form
  id="form"
  autocomplete="off"
  class="border border-accent rounded-full text-accent font-light hover:shadow-lg transition-shadow duration-300 hover:border-secondary hover:text-secondary"
>
  <div class="relative flex items-center">
    <input
      id="input"
      type="text"
      name="q"
      [value]="searchQuery"
      (input)="onSearchChange($event)"
      placeholder="Search"
      class="w-full px-6 py-2 pr-12 rounded-full border-none outline-none placeholder-secondary focus:ring-2 focus:ring-secondary transition-shadow focus:text-secondary"
    />
    <fa-icon
      [icon]="faSearch"
      class="absolute right-6 pointer-events-none"
    ></fa-icon>
  </div>
</form>
